@media (min-width: 1300px) {
  .container {
    width: min(1240px, calc(100% - 64px));
  }

  .hero__content {
    padding-top: 150px;
    padding-bottom: 150px;
  }
}

@media (max-width: 980px) {
  .menu-toggle {
    display: inline-block;
  }
